doctype transitional
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='color-scheme' content='light')
  meta(name='supported-color-schemes' content='light')
  style.
    html, body{
    height: 100%;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-Light.otf);
    font-weight: 300;
    font-style: normal;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-Air.otf);
    font-weight: 100;
    font-style: normal;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-AirItalic.otf);
    font-weight: 100;
    font-style: italic;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-Black.otf);
    font-weight: 900;
    font-style: normal;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-BlackItalic.otf);
    font-weight: 900;
    font-style: italic;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-Bold.otf);
    font-weight: 700;
    font-style: normal;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-BoldItalic.otf);
    font-weight: 700;
    font-style: italic;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-LightItalic.otf);
    font-weight: 300;
    font-style: italic;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-Medium.otf);
    font-weight: 500;
    font-style: normal;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-Regular.otf);
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-RegularItalic.otf);
    font-weight: 400;
    font-style: italic;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-Thin.otf);
    font-weight: 900;
    font-style: normal;
    }
    @font-face {
    font-family: 'Aeonik';
    src: url(https://app.joinsteward.com/fonts/Aeonik-ThinItalic.otf);
    font-weight: 200;
    font-style: italic;
    }
    @media  only screen and (max-width: 600px) {
    td{
    white-space: normal !important;
    }
    .inner-body {
    width: 100% !important;
    }
    .footer {
    width: 100% !important;
    }
    }
    @media  only screen and (max-width: 500px) {
    .button {
    width: 100% !important;
    }
    }
    footer a{
    margin-right: 20px !important;
    }
    *{
    word-break: break-all;
    }
table.wrapper(width='100%' height='100%' cellpadding='0' cellspacing='0' role='presentation' style="box-sizing: border-box;  height: 100%;\
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%; background-color: #edf2f7; margin: 0; padding: 0; width: 100%;")
  tr
    td(align='center' style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;")
      table.content(width='100%' cellpadding='0' cellspacing='0' role='presentation' style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%; margin: 0; padding: 0; width: 100%;")
        tr
          td.header(style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; padding: 25px 0; text-align: center;")
        // Email Body
        tr
          td.body(width='100%' cellpadding='0' cellspacing='0' style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%; background-color: #edf2f7; border-bottom: 1px solid #edf2f7; border-top: 1px solid #edf2f7; margin: 0; padding: 0; width: 100%;")
            table.inner-body(align='center' width='570' cellpadding='0' cellspacing='0' role='presentation' style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px; background-color: #ffffff; border-color: #e8e5ef; border-radius: 2px; border-width: 1px; box-shadow: 0 2px 0 rgba(0, 0, 150, 0.025), 2px 4px 0 rgba(0, 0, 150, 0.015); margin: 0 auto; padding: 0; width: 570px;")
              // Body content
              tr
                td.content-cell(style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; max-width: 100vw; padding: 32px 10px;")
                  .xs-px-4(role='article' aria-roledescription='email' aria-label='' lang='en' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; padding-left: 8px; padding-right: 8px")
                    div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                      div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif;")
                        table(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif" cellpadding='0' cellspacing='0' role='presentation')
                          tr(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; padding-right: 12px")
                              div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; height: 32px; width: 32px; overflow: hidden; border-radius: 9999px; object-fit: contain")
                                img(src='https://joinsteward.com/steward-logo.png' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; height: 32px; width: 32px" alt='')
                            td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                              span(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; font-size: 32px; font-weight: 700; color: #000")
                                | Steward
                        div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; margin-top: 56px")
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            | Hello #{business_name},
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            | You have received a new application to  #{scholarship_name} by #{applicant_name}.
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            | Login to check scholar details
                          p Please click the button to login in to your account
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; padding-top: 8px; padding-bottom: 8px")
                            a(href=`https://demo.joinsteward.com/login?email=${applicant_email}` style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: blue; text-decoration-line: none")
                              span.hover-opacity-80(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; border-radius: 8px; background-color: #000; padding-left: 32.5px; padding-right: 32.5px; padding-top: 10px; padding-bottom: 10px; color: #fff; transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 300ms")               View scholar detail       
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            | or by clicking this link:
                            br(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            a(href=`https://demo.joinsteward.com/login?email=${applicant_email}` style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: blue")
                              | https://demo.joinsteward.com/login?email=#{applicant_email}
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            | If you have questions for us, please visit www.joinsteward.com or send an email to 
                            a(href='mailto:support@joinsteward.com' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: blue")
                              | support@joinsteward.com
                          p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            | Best,
                            br(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                            |                             The  Steward Team
                      footer.space-y-6(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; margin-top: 32px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; background-color: #FBFBFB; padding: 16px; font-size: 14px")
                        div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif") You are receiving this email because you have an account on Steward
                        div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; --tw-space-y-reverse: 0; margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse))); margin-bottom: calc(24px * var(--tw-space-y-reverse))") &copy; Steward - All rights reserved
                        div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; --tw-space-y-reverse: 0; margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse))); margin-bottom: calc(24px * var(--tw-space-y-reverse))") Steward Communication Technologies Inc.
                        .space-x-22px(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; --tw-space-y-reverse: 0; margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse))); margin-bottom: calc(24px * var(--tw-space-y-reverse))")
                          table(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif" cellpadding='0' cellspacing='0' role='presentation')
                            tr(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                              td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; width: 100%")
                              td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; white-space: nowrap; vertical-align: center;  display: flex; align-items: center")
                                a(href='https://joinsteward.com' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none")
                                  img(src='https://dev.joinsteward.com/images/icons/web.svg' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; margin-right: 10px" alt='')
                                a(href='https://twitter.com/joinsteward' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none")
                                  img(src='https://dev.joinsteward.com/images/icons/twitter.svg' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif;margin-right: 10px" alt='')
                                a(href='https://web.facebook.com/Steward-100678572768223' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none;margin-right: 10px")
                                  img(src='https://dev.joinsteward.com/images/icons/facebook.svg' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif;margin-right: 10px" alt='')
                                a(href='https://linkedin.com/company/joinsteward/about' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none;margin-right: 10px")
                                  img(src='https://dev.joinsteward.com/images/icons/linkedin.svg' style="font-family: 'Aeonik', Arial, Helvetica, sans-serif;margin-right: 10px" alt='')
        tr
          td(style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative;")
            table.footer(align='center' width='570' cellpadding='0' cellspacing='0' role='presentation' style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px; margin: 0 auto; padding: 0; text-align: center; width: 570px;")
              tr
                td.content-cell(align='center' style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; max-width: 100vw; padding: 32px;")
                  p(style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; position: relative; line-height: 1.5em; margin-top: 0; color: #b0adc5; font-size: 12px; text-align: center;")
