doctype html
html(lang='en', xmlns:v='urn:schemas-microsoft-com:vml', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
  head
    meta(charset='utf-8')
    meta(name='x-apple-disable-message-reformatting')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no, date=no, address=no, email=no')
    meta(name='color-scheme', content='light dark')
    meta(name='supported-color-schemes', content='light dark')
    //if mso
      noscript
        xml
          o:officedocumentsettings(xmlns:o='urn:schemas-microsoft-com:office:office')
            o:pixelsperinch 96
      style.
        td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
    |  
    style.
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-Light.otf);
      font-weight: 300;
      font-style: normal;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-Air.otf);
      font-weight: 100;
      font-style: normal;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-AirItalic.otf);
      font-weight: 100;
      font-style: italic;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-Black.otf);
      font-weight: 900;
      font-style: normal;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-BlackItalic.otf);
      font-weight: 900;
      font-style: italic;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-Bold.otf);
      font-weight: 700;
      font-style: normal;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-BoldItalic.otf);
      font-weight: 700;
      font-style: italic;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-LightItalic.otf);
      font-weight: 300;
      font-style: italic;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-Medium.otf);
      font-weight: 500;
      font-style: normal;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-MediumItalic.otf);
      font-weight: 500;
      font-style: italic;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-Regular.otf);
      font-weight: 400;
      font-style: normal;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-RegularItalic.otf);
      font-weight: 400;
      font-style: italic;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-Thin.otf);
      font-weight: 900;
      font-style: normal;
      }
      @font-face {
      font-family: 'Aeonik';
      src: url(https://app.joinsteward.com/fonts/Aeonik-ThinItalic.otf);
      font-weight: 200;
      font-style: italic;
      }
      * {
      font-family: 'Aeonik', Arial, Helvetica, sans-serif;
      }
    |  
    style.
      a:hover {
      color:rgb(0, 110, 255)e;
      }
    style.
      .space-y-6 > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0 !important;
      margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse))) !important;
      margin-bottom: calc(24px * var(--tw-space-y-reverse)) !important;
      }
      .space-x-22px > :not([hidden]) ~ :not([hidden]) {
      --tw-space-x-reverse: 0 !important;
      margin-right: calc(22px * var(--tw-space-x-reverse)) !important;
      margin-left: calc(22px * calc(1 - var(--tw-space-x-reverse))) !important;
      }
      .hover-opacity-80:hover {
      opacity: 0.8 !important;
      }
      @media (max-width: 425px) {
      .xs-px-4 {
      padding-left: 16px !important;
      padding-right: 16px !important;
      }
      .xs-text-base {
      font-size: 16px !important;
      }
      }
  body.xs-text-base(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; background-color: white; color: black; word-break: break-word; -webkit-font-smoothing: antialiased; margin: 0; width: 100%; padding-left: 0; padding-right: 0; padding-bottom: 0; padding-top: 32px")
    .xs-px-4(role='article', aria-roledescription='email', aria-label='', lang='en', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; padding-left: 8px; padding-right: 8px")
      div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
        div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; padding-left: 32px; padding-right: 32px")
          table(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif", cellpadding='0', cellspacing='0', role='presentation')
            tbody
              tr(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; padding-right: 12px")
                  div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; height: 32px; width: 32px; overflow: hidden; border-radius: 9999px; object-fit: contain")
                    img(src='https://demo.joinsteward.com/img/steward-logo.4d80127d.png', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; height: 32px; width: 32px", alt='')
                td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                  span(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; font-size: 32px; font-weight: 700; color: #000")
                    | #{name}
          div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; margin-top: 56px")
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              | Hello,
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              | You registered an account on #{name}&apos;s alumni community. Before being able to use your account, you need to verify that this is your email address by clicking on the button below:
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; padding-top: 8px; padding-bottom: 8px")
              a(href=`https://demo.joinsteward.com/reset-password/${userId}?code=${code}`, style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: blue; text-decoration-line: none")
                span.hover-opacity-80(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; border-radius: 8px; background-color: #000; padding-left: 32.5px; padding-right: 32.5px; padding-top: 10px; padding-bottom: 10px; color: #fff; transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 300ms")                 Verify your email        
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              | or by clicking this link:
              br(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              a(href=`https://demo.joinsteward.com/reset-password/${userId}?code=${code}&`, style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: blue")
                | https://demo.joinsteward.com/reset-password/#{userId}?code=#{code}
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              | This link will verify your email address, and then you&apos;ll officially be a part of #{name}&apos;s alumni community.
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              | See you there!
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
            div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")              
                | If you have questions for us, please visit 
                a(href=`${website}`, style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: blue")  #{website}
                |  or send an email to 
              a(href=`mailto:${email}`, style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: blue") #{email}
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
            p(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
              | Best,
              br(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif") 
              | #{name}
        footer.space-y-6(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; margin-top: 32px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; background-color: #FBFBFB; padding-top: 16px; padding-bottom: 16px; padding-left: 32px; padding-right: 32px; font-size: 16px")
          div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif") You are receiving this email because you have an account on Steward
          div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; --tw-space-y-reverse: 0; margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse))); margin-bottom: calc(24px * var(--tw-space-y-reverse))") &copy; Steward - All rights reserved
          div(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; --tw-space-y-reverse: 0; margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse))); margin-bottom: calc(24px * var(--tw-space-y-reverse))") Steward Communication Technologies Inc.
          .space-x-22px(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; --tw-space-y-reverse: 0; margin-top: calc(24px * calc(1 - var(--tw-space-y-reverse))); margin-bottom: calc(24px * var(--tw-space-y-reverse))")
            table(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif", cellpadding='0', cellspacing='0', role='presentation')
              tbody
                tr(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif")
                  td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; width: 100%")
                  td(style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; white-space: nowrap")
                    a(href='https://joinsteward.com', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none")
                      img(src='/images/icons/web.svg', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif", alt='')
                    a(href='https://twitter.com/joinsteward', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none")
                      img(src='/images/icons/twitter.svg', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif", alt='')
                    a(href='https://web.facebook.com/Steward-100678572768223', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none")
                      img(src='/images/icons/facebook.svg', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif", alt='')
                    a(href='https://linkedin.com/company/joinsteward/about', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif; color: transparent; text-decoration-line: none")
                      img(src='/images/icons/linkedin.svg', style="font-family: 'Aeonik', Arial, Helvetica, sans-serif", alt='')